<!DOCTYPE html>
<html>
  <head>
    {% block title -%}
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Страница</title>
    {% endif %}
    {% endblock %}
  </head>
  <body>
    {% block content -%}
        <form class="adm_add_tag_form" action="{{ url_for('book_image', book_id = 1) }}" method="POST" enctype="multipart/form-data" >
        <select name="tag_id" id="selection">
            {% for a_t in tags %}
            <option value="{{ a_t[0] }}">{{ a_t[1] }}</option>
            {% endfor %}
        </select>
        <p><input id="adm_tag_add_btn" type="submit"  value="Найти"/>
      </form>
      {%- block mainmenu -%}
        <ul>
            {% for f in files %}
            <li>{{ f }}</li>
            {% endfor %}
        </ul>
      {% endblock mainmenu -%}
      <div class="clear"></div>
      <div class="content">
        {% if title %}
          <h1>{{ title }}</h1>
        {% else %}
          <h1>Страница</h1>
        {% endif %}
        {% endblock %}
      </div>      
  </body>
</html>